body {
  font-size: 13px;
  font-family: "Noto Sans TC", "Helvetica Neue";
}

html {
  height: 100%;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: transparent;
  z-index: 99;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
}

.navbar .navbar-list {
  list-style: none;
  margin-bottom: 0;
  position: relative;
}

.navbar .navbar-list .navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar .navbar-list .navbar-item .navbar-link {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
  padding: 0;
  width: auto;
  height: auto;
  text-align: center;
}

section {
  width: 100vw;
  height: 100vh;
}

section .row {
  height: 100%;
  position: relative;
}

section .content {
  width: 100%;
  height: 100%;
  padding-top: 25%;
}

section li span {
  background-color: #1D2B64;
  padding: 4px 10px;
  color: rgba(255, 255, 255, 0.9);
}

section h1 {
  letter-spacing: 0.1rem;
}

#about span.lighter {
  background-color: #fffe46;
}

#about .selfie {
  width: 20%;
  border-radius: 50%;
  background: transparent;
  font-size: 0px;
}

#about .selfie img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#about:before {
  display: block;
  position: absolute;
  border-radius: 900px 1000px 1000px 1000px;
  left: 60%;
  top: -100px;
  content: "";
  width: 1000px;
  height: 1000px;
  background: #1D2B64;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, right top, left top, from(#1D2B64), to(#F8CDDA));
  background: linear-gradient(to left, #1D2B64, #F8CDDA);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#vd {
  background-color: rgba(0, 0, 0, 0.05);
  background-image: url(../images/iceberg.svg);
  background-attachment: scroll;
  background-size: 100px auto;
  background-repeat: no-repeat;
  background-position: 90% 110%;
}

#vd .icephoto img.ice {
  height: 400px;
}

.uiux-pic img {
  opacity: 0.1;
}

.uiux-pic:before {
  content: "";
  background-image: url(../images/uiux-layer1.png);
  background-color: #b6ff7b;
  position: absolute;
  top: 40%;
  left: 64%;
  width: 250px;
  height: 250px;
  opacity: 0.6;
}

.uiux-pic:after {
  content: "";
  background-image: url(../images/uiux-layer2.png);
  background-position: 10px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 12%;
  left: 76%;
  width: 100px;
  height: 100px;
  opacity: 0.6;
}

.bg-box:before {
  content: "";
  border: 20px solid #ff8eff;
  position: absolute;
  top: 22%;
  left: 38%;
  width: 250px;
  height: 250px;
  opacity: 0.4;
}

.cube1 {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 10vw;
  height: 2vw;
  background-color: #222;
  border-radius: 0 100px 100px 0;
}

.mark {
  font-size: 70px;
  position: absolute;
  left: 70%;
  top: 55%;
  font-family: "Open Sans";
}

#works {
  background-color: rgba(0, 0, 0, 0.02);
}

.items {
  height: 100%;
  vertical-align: middle;
  padding-top: 20%;
}

.item {
  height: 16vmax;
  width: 16vmax;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  background-size: cover;
  background-position: center;
}

.item:hover {
  border-radius: 50%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  padding: 40px;
  text-align: center;
  overflow-y: scroll;
}

.lightbox img {
  max-width: 100%;
  display: block;
}

.lightbox button {
  margin-top: 20px;
  border: none;
  font-size: 40px;
}

.light-wrap {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 100px);
}

.light-scroll {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.featherlight .featherlight-content {
  margin: 0;
  max-height: 100%;
  padding: 0;
  border: 0;
}

.prototype {
  background: #444;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.prototype iframe {
  margin: 0 auto;
}
/*# sourceMappingURL=allstyle.css.map */